# Backend
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/.env
backend/.venv/

# Frontend
frontend/node_modules/
frontend/.svelte-kit/
frontend/.env
frontend/build/

# Scraper
scraper/target/
scraper/state.json
scraper/semester.json
scraper/.api_key

# General
.DS_Store
