SERVER_NAME=PAULINE
SERVER_HOST=http://localhost
BACKEND_CORS_ORIGINS=["http://localhost"]

API_V1_STR=/api/v1

PROJECT_NAME=PAULINE

POSTGRES_SERVER=localhost
POSTGRES_USER=pauline
POSTGRES_PASSWORD=pauline
POSTGRES_DB=pauline

API_KEYS=[]


MAIL_SERVER=
MAIL_PORT=465
MAIL_SENDER_NAME=
MAIL_SENDER_EMAIL=
MAIL_LOGIN_EMAIL=
MAIL_LOGIN_PASSWORD_FILE=